{
  "Parameters": {
    "ENVIRONMENT": "local",
    "SIGNING_KEY_ID": "fe960654-cdc9-4580-9368-8c58c3865a46"
  },
  "IssueFunction": {
    "POWERTOOLS_SERVICE_NAME": "Issue",
    "STATUS_LIST_BUCKET_NAME": "status-list",
    "SELF_URL": "https://localhost:3000"
  },
  "RevokeFunction": {
    "POWERTOOLS_SERVICE_NAME": "Revoke",
    "STATUS_LIST_BUCKET_NAME": "status-list",
    "SELF_URL": "https://localhost:3000"
  },
  "JwksFunction": {
    "POWERTOOLS_SERVICE_NAME": "JWKS",
    "JWKS_BUCKET_NAME": "jwks"
  }
}